COMPOSE_PROJECT_NAME=conjur-sandbox-lab
CONJUR_ACCOUNT=sandbox
CONJUR_IMAGE=cyberark/conjur:latest
CONJUR_CLI_IMAGE=cyberark/conjur-cli:9
POSTGRES_IMAGE=postgres:15.18-bookworm
NGINX_IMAGE=nginx:1.28-alpine
CONJUR_HTTPS_PORT=8443
CHECKOUT_PORT=8081
FRAUD_PORT=8082
